@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0px -80px;
  background-size: auto;
  background-color: var(--pale-blue);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
main picture img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
main h1 {
  padding: 30px 0px 10px 0px;
  font-size: 1.5rem;
  font-weight: 900;
}
main p {
  padding: 0 30px;
  color: var(--desaturated-blue);
}
.flex-3 {
  list-style: none;
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 20px;
  border-radius: 10px;
}
.flex-3 li {
  margin: 0px 10px;
}
.plan-details {
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.plan-details strong {
  font-weight: 900;
}
.plan-details small {
  color: var(--desaturated-blue);
}
.flex-3 a {
  color: var(--bright-blue);
  font-weight: 900;
  font-size: 90%;
}
button {
  padding: 1rem 4.5rem;
}
.pay-btn {
  cursor: pointer;
  background-color: var(--bright-blue);
  border-radius: 10px;
  color: var(--very-pale-blue);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  margin: 0.5rem auto;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}
.cancel-btn {
  cursor: pointer;
  background-color: transparent;
  color: var(--desaturated-blue);
  font-weight: 900;
  font-size: 1rem;
  border: none;
  margin-bottom: 1rem;
}

/* btn active states */
.pay-btn:active {
  background-color: hsl(245, 48%, 58%);
  color: white;
  box-shadow: none;
}
.cancel-btn:active {
  color: black;
}
.flex-3 a:active {
  color: hsl(245, 48%, 58%);
  text-decoration: none;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */
@media (min-width: 376px) {
  main {
    margin: auto;
    transform: scale(0.95);
  }
}
